<div class="row justify-content-md-center">    
    <div class="col text-right">
        <b>{{author}}</b>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-md-auto">
      <h5>{{title}}</h5>
      <div class="row justify-content-md-center">
      <div class="col col-md-auto">
        <span *ngFor="let answer of answers" class="ml-3">
          <input type="button" class="btn btn-outline-dark" [value]="answer" 
                (click)="sendResponse($event.target.value)">
        </span>
      </div>
      </div>
    </div>
</div>