<div class="row justify-content-md-center">    
    <div class="col text-right">
        <b>{{author}}</b>
    </div>  
</div>
<div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h5>{{title}}</h5>
    </div>
</div>
<div class="row justify-content-md-center">
  <div class="col col-md-auto">
    <span *ngFor="let day of dayButtons" class="ml-3">
      <input type="button" class="btn btn-outline-dark" 
          [value]="day" (click)="sendResponse($event.target.value)">  
    </span>
  </div>
</div>
