<!-- justify-content-md-center -->
<div class="row">
    <div class="col text-right">
      <h5>{{title}}</h5>
    </div>
    <div class="col-md-auto">
        <b>{{author}}</b>
    </div>  
</div>
<div class="row">
    <div class="col text-right">
      <rating [max]="5" [(ngModel)]="y" [customTemplate]="customeTemplate"></rating>
      <b>(<i>Rate:</i> {{y}})</b>
      <ng-template #customeTemplate let-i="index" let-v="value">
        <button type="btn" class="btn btn-{{i < v ? 'warning' : 'default'}}" (click)='setAssesment(v)'>
          {{i < v ? '&#9733;' : '&#9734;'}}
        </button>
      </ng-template>
  </div>
</div>