<div class="row justify-content-md-center">
    <div class="col col-md-auto">
    <h4>{{title}}</h4>
  </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-md-auto">
    <rating [max]="5" [(ngModel)]="y" [customTemplate]="customeTemplate"></rating>
    <b>(<i>Rate:</i> {{y}})</b>
    <ng-template #customeTemplate let-i="index" let-v="value">
      <button type="btn" class="btn btn-{{i < v ? 'warning' : 'default'}}" (click)='setAssesment(v)'>
        {{i < v ? '&#9733;' : '&#9734;'}}
      </button>
    </ng-template>
  </div>
</div>
